div{
    margin-left:500px;
}
p2{
    border-style: solid;
    border-color: pink;
   border-width: 2px;
   padding: 12px;

    margin-left:600px;
}
p3{
    border-style: solid;
    border-color: pink;
   border-width: 2px;
   padding: 12px;
    margin-left:650px;
}