body{
    font-family: sans-serif;
}

.wrap{
    width:600px;
    margin:auto;
    background: geenyellow;
    
}
li{
    display: inline;
    text-decoration:none;
    padding-right: 50px;
}
ul a:hover{
    font-size: 80px;
    text-decoration:underline;
}
a{
    text-decoration:none;
}